{% extends 'base.html' %} 

{% load widget_tweaks %}
 
{% block content %}
<body style = "background-color: gray;"></body>
<nav class="navbar navbar-expand-lg bg-body-tertiary" style = "margin: 0; padding: 0;">
    <div class="container-fluid" style = "background-color: dimgray; padding-right: 0;">
        <a class="navbar-brand" href="{% url 'main:show_main' %}" style = "color: aliceblue;">{{ name }}</a>
        <a href="{% url 'main:logout' %}">
            <button class="btn btn-primary btn-lg">Logout</button>
        </a>
    </div>
</nav>
<h1>Add New Item</h1>

<form method="POST">
    {% csrf_token %}
    <div class="grid-container">
        <div class="form-group">
            <p style = "font-weight: bold;"> Name: </p>
            {% render_field form.name class="form-control" placeholder="Agumon" type="text" %}
        </div>
        <div class="form-group">
            <p style = "font-weight: bold;"> Category: </p>
           {% render_field form.category type="text" class="form-control" placeholder="Lv.3 Digimon" %}
         </div>
         <div class="form-group">
            <p style = "font-weight: bold;"> Code: </p>
           {% render_field form.code type="text" class="form-control" placeholder="RB1-004" %}
         </div>
    </div>
    <div class = "grid-container1" style = "padding-top: 5px">
        <div class="form-group">
            <p style = "font-weight: bold;"> Description: </p>
            {% render_field form.description class="form-control" placeholder="A cool card" type="text" %}
        </div>
        <div>
            <p style = "font-weight: bold; "> Color: </p>
            {% render_field form.color class="form-control" type="text" %}
            <p style = "font-weight: bold;"> Price: </p>
            {% render_field form.price class="form-control" placeholder="24.99" type="text" %}
            <p style = "font-weight: bold;"> Amount: </p>
            {% render_field form.amount class="form-control" placeholder="2" type="text" %}
            <button class = "btn btn-primary btn-lg"type="submit" value="Add Item" style = "margin-top: 15px" > Add Item </button>
        </div>
    </div>
</form>

{% endblock %}