{% extends 'base.html' %}

{% block content %}
    <h1>{{ appname }}</h1>
    <h5>Name:</h5>
    <p>{{ name }}</p>
    <h5>Class:</h5>
    <p>{{ class }}</p>
    <br>
    <p>This is a work in progress. Here is info about {{ item.name }}</p>
    <br>
    <p>Card name: {{ item.name }}</p>
    <p>Category: {{ item.category }}</p>
    <p>Card code: {{ item.code }}</p>
    <p>Amount in Stock: {{ item.amount }}</p>
    <p>Average listed price: ${{ item.price }}</p>
    <p>Description: {{ item.description }}</p>
    <br>
    
    <a href="{% url 'main:show_main' %}">
        <button>
            Home
        </button>
    </a>
{% endblock content %}
